/* ****containers-apartments ****  */

.containers-apartments {
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
}

.containers-apartments>section {
    background: var(--darkgrey);
    border-radius: 1rem;
}

/*******Hébergement *********/

.hebergement-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

.hebergement {
    flex-basis: 66%;
    padding: 1rem 1.9rem;
}

.hebergement h2 {
    padding: 1rem 0 1.5rem;
}

.hebergement h4 {
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

/********** Apartment Card**************/

.appartment-card {
    background: white;
    border-radius: 25px;
    padding: 0.4rem;
    box-shadow: 0 0 16px #00000021;
    flex-grow: 1;
}

.containers-apartments .appartment-card img {
    border-radius: 25px 25px 0 0;
    height: 7rem;
    width: 100%;
    object-fit: cover;
}

.appartment {
    width: 28%;
}

.appartment-card p{
    margin: 0.5rem;
    font-size: smaller;
}

.appartment-card h3 {
    font-size: 1rem;
    margin: 0.5rem
}

.grey {
    color: var(--darkgrey);
}


/*****Popular*****/

.popular {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    padding: 1rem 1.9rem;
}
.popular-title i {
    font-size: medium;
}
.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1.5rem;
}

.popular .popular-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-evenly;
    flex-basis: 100%;
}


/*****Popular Card*****/
.popular-card,
.appartment-card :hover {
    cursor: pointer;
}

.popular-flex .appartment-card img {
    border-radius: 25px 0 0 25px;
    margin-right: 0.5rem;
    object-fit: cover;
    min-width: 40%;
    min-height: 100%;
}

.popular-card {
    display: flex;
    max-height: 11rem;
}

.popular-card .card-stars {
    display: flex;
    margin-top: auto;
}

.popular-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 60%;
}

.card-stars {
    font-size: small;
}

/*************************************/
/*********MEDIA QUERIES***********/
/*************************************/
/********* ipad ***********/
@media (max-width:992px) {

    /* ****containers-apartments ****  */

    .containers-apartments {
        flex-direction: column;
    }

    /*****Popular*****/

    .popular .popular-flex {
        flex-direction: row;
        margin: 1rem 0 0;
    }

    .popular-card {
        min-width: auto;
        width: 100%;
    }

    .popular-flex .appartment-card img {
        max-width: 6rem;
    }
}

/********* phone ***********/
@media (max-width:768px) {
    .containers-apartments {
        flex-direction: column-reverse;
        padding: 0;
    }

    .hebergement-flex {
        flex-direction: column;
    }

    .containers-apartments .hebergement {
        background: white;
    }

    .hebergement h4 {
        display: none;
    }

    .popular .popular-flex {
        flex-direction: column;
    }

    .popular-card,
    .appartment-card {
        width: 100%;
    }

    .appartment-card img {
        width: 100%;
        object-fit: cover;
    }

}