/* ****Apartement List****  */


.apartment-list {
    display: flex;
    gap: 2rem;
}

.apartment-list>section {
    background: var(--darkgrey);
    border-radius: 1rem;
}

.apartment-list .city {
    flex-basis: 66%;
    padding: 2rem;
    min-width: 60%;
}

.apartment-list h4 {
    font-size: 1.2rem;
}

.apartment-list .popular {
    flex-basis: 33%;
    padding: 1rem 2rem;
}

.bold {
    font-weight: bold;
}

/**********List Apartement**************/

.city-apartment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    margin: 1rem 0;
}

/********** Apartment Card**************/

.apartment-list .popular-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-evenly;
    flex-basis: 100%;
}

.appartment-card {
    background: white;
    border-radius: 25px;
    padding: 0.4rem;
    box-shadow: 0 0 16px #00000021;
    flex-grow: 1;
}

.apartment-list .appartment-card img {
    border-radius: 25px 25px 0 0;
    height: 7rem;
    width: 100%;
    object-fit: cover;

}

.appartment-card p,
.appartment-card h3 {
    margin: 0.5rem;
}

.appartment-card h3 {
    font-size: 1.2rem;
}

.grey {
    color: var(--darkgrey);
}

.appartment {
    width: 14rem;
}

/*****Popular*****/

.popular {
    display: flex;
    flex-direction: column;
}

.popular h2 {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

/*****Popular Card*****/
.popular-card,
.appartment-card :hover {
    cursor: pointer;
}

.popular-flex .appartment-card img {
    border-radius: 25px 0 0 25px;
    margin-right: 0.5rem;
    object-fit: cover;
    min-width: 40%;
    min-height: 100%;
}

.popular-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 60%;
}

.popular-card {
    display: flex;
    min-width: 20rem;
    max-height: 11rem;
}

.popular-card .card-stars {
    display: flex;
    margin-top: auto;
}

.card-stars {
    font-size: small;
}

/*************************************/
/*********MEDIA QUERIES***********/
/*************************************/

/********* ipad ***********/

@media (max-width:1015px) {

    /* ****Apartement List****  */

    .apartment-list {
        flex-direction: column;
    }

    /*****Popular*****/

    .apartment-list .popular-flex {
        flex-direction: row;
        margin: 1rem 0 0;
    }

    .popular-card {
        min-width: auto;
        width: 100%;
    }

    .popular-flex .appartment-card img {
        max-width: 6rem;
    }

    /********* phone ***********/

    @media (max-width:825px) {
        .apartment-list {
            flex-direction: column-reverse;
        }

        .apartment-list .city {
            background: white;
        }

        .apartment-list .popular-flex {
            flex-direction: column;
        }

        .city-apartment-list {
            flex-direction: column;
        }

        .popular-card,
        .appartment-card {
            width: 100%;
        }

        .appartment-card img {
            width: 100%;
            object-fit: cover;
        }
    }
}