footer {
    padding: 0 3rem;
}
.footer-block {
    display: flex;
    background: var(--darkgrey);
    justify-content: space-evenly;

}
.footer-about {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    margin: 1rem 0;
}
.footer-about h4 {
    font-size: 1.2rem;
    margin: 2rem 0 1rem;
    text-transform: capitalize;
}

/*************************************/
/*********MEDIA QUERIES***********/
/*************************************/

/********* ipad ***********/

@media (max-width:992px) {

    .footer-about h4 {
        font-size: 1.3rem;
    }
}
/********* phone ***********/

@media (max-width:768px) {
    footer {
        padding: 0;
        display: flex;
        justify-content: center;
        background: var(--darkgrey);
    }
    .footer-block {
        flex-direction: column;
        padding: 0;
        
    }
    .footer-about {
        margin: 0 5rem ;
    }
}
@media (max-width:331px) {
    footer {
        display: block;
    }
}