/* ******HEADER *******/

main h1 {
    font-size: 1.5rem;
}
main p{
    margin: 1rem 0 ;
}

/*********Search Button*********/

.search-form {
    display: flex;
    margin: 2rem 0;
}

.search-form>* {
    padding: 1rem 1.5rem;
}

.search-form i {
    background: var(--darkgrey);
    color: black;
    border-radius: 15px 0 0 15px;
}

.search-form input {
    flex-basis: 15rem;
    border: 1px solid var(--darkgrey);
    overflow: auto;
    font-family: "Raleway";
}

.search-form input::placeholder {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.search-form button {
    background: var(--blue);
    color: white;
    border: var(--blue);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0.9;
    transition: 0.2s;
}

.search-form button:hover {
    opacity: 1;
    transform: scale(1.03);
}

.fa-solid.fa-magnifying-glass {
    display: none;
}

/**********Filter List**************/

section-1 h2 {
    font-size: 1.2rem;
}

.filter-list {
    display: flex;
    align-items: center;
    gap: 0.8rem 0.8rem;
    flex-wrap: wrap;
}


.filter {
    border: 3px solid var(--darkgrey);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.filter i {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    font-size: larger;
}

.filter span {
    text-transform: capitalize;
    font-weight: bold;
    padding: 0 0.8rem;
    font-size: 1.1rem;
}

.filter:hover {
    background: var(--lightblue);
    cursor: pointer;
}

/* ****Result Message**** */

.result-message {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.result-message i {
    border: 1px solid var(--darkgrey);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}

/*************************************/
/*********MEDIA QUERIES***********/
/*************************************/

/********* ipad ***********/

@media (max-width:992px) {

    /*********Search Button*********/

    main h1 {
        margin:auto;
        margin-top: 2rem;
    }
    .filter-list h2 {
        flex-basis: 100%;
    }

    .search-form .search-text {
        display: none;
    }

    .fa-solid.fa-magnifying-glass {
        display: flex;
        background: inherit;
        color: white;
    }
}

/********* phone ***********/

@media (max-width:825px) {
    .heading {
        display: flex;
        flex-direction: column;
        text-align: inherit;
        align-items: inherit;
        margin: 1rem 2rem;

    }

    .filter-list {
        padding: 1rem;

    }

    .result-message {
        justify-content: center;
    } 
    .result-message p {
        margin: 0;
    }

    .search-form {
        display: flex;
        justify-content: center;
    }

    .search-form input {
        flex-basis: 18rem;
        padding: 1.5rem 1.5rem;
    }

    .fa-sharp.fa-solid.fa-location-dot {
        display: flex;
        align-items: center
    }
}