/**********Nav Bar**************/
body header {
    padding: 0 2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
}

nav li {
    padding: 2rem;
    border-top: 3px solid transparent;
    
}

nav li:hover {
    color: var(--blue);
    font-weight: bold;
    border-top-color: var(--blue);
}

nav img {
    height: 30px;
    margin-right: auto;
}

.sub-nav {
    display: flex;
}

/*************************************/
/*********MEDIA QUERIES***********/
/*************************************/

/********* ipad ***********/

@media (max-width:992px) {

    body header {
        padding: 0;
    }

    /**********Nav Bar**************/

    .sub-nav {
        flex-basis: 100%;
        text-align: center;
    }

    .sub-nav li {
        flex-basis: 50%;
        border-bottom: 3px solid var(--lightblue);
    }

    .sub-nav li:hover {
        border-bottom-color: var(--blue);
        border-top-color: transparent;
    }

    nav img {
        margin: auto;
        margin-top: 2rem;
    }
}
@media (max-width:768px) {
    nav li {
        padding: 2rem 0;
    }
}